body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(https://viziblydiffrnt.github.io/assets/images/content_lifecycle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 20px;
    position: relative;
    right: 160px;
    color: #fff;
    text-align: left;
    font-size: 50px;
    font-family: Lucida Calligraphy;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 238, 238, 0.4);
    font-size: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ae33b7;
    color: #fff;
    border: none;
    cursor: pointer;
}

h3 {
    color: #fff;
    font-size: 15px;
}

h1 {
    color: white;
    text-align: right;
}

h2 {
    color: #fff;
    font-family: lucida calligraphy;
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#detailsContainer {
    margin-top: 30px;
    text-align: left;
}

#detailsContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

#detailsContainer h2 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: left;
}

#detailsContainer p {
    margin-bottom: 10px;
    text-align: left;
}

#detailsContainer img {
    max-width: 100%;
    margin-bottom: 10px;
}

.button {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.button input {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #82d911;
    display: block;
    position: relative;
    padding: 20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #ffffff;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button input:hover {
    top: 10px;
    background-color: #ecda11;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button input:active {
    top: 10px;
    background-color: #ec1414;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
